<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.artal.rental.ui.views"
            name="Rental Views">
      </category>
      <view
            category="com.artal.rental.ui.views"
            class="com.artal.rental.ui.views.RentalPropertyView"
            id="com.artal.rental.ui.views.RentalPropertyView"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            category="com.artal.rental.ui.views"
            class="com.artal.rental.ui.views.RentalAgencyView"
            id="com.artal.rental.ui.views.RentalAgencyView"
            name="Rental Agency View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.artal.rental.ui.RentalPerspective"
            id="com.artal.rental.ui.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.artal.rental.ui.pref.rentalpref"
            class="com.artal.rental.ui.pref.RentalColorPreferences"
            id="com.artal.rental.ui.pref.colorprefpage"
            name="Colors">
      </page>
      <page
            class="com.artal.rental.ui.pref.RentalPreferences"
            id="com.artal.rental.ui.pref.rentalpref"
            name="Rental">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.artal.rental.ui.pref.ColorPrefInit">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.artal.rental.ui.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="com.artal.rental.ui.commands.category"
            id="com.artal.rental.ui.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.artal.rental.ui.cmds.SampleHandler"
            commandId="com.artal.rental.ui.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.artal.rental.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="com.artal.rental.ui.commands.sampleCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:com.artal.rental.ui.views.RentalAgencyView?after=additions">
         <command
               commandId="com.artal.rental.ui.commands.sampleCommand"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <command
               commandId="com.artal.rental.ui.commands.sampleCommand"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
