<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.artal.rental.ui.views"
            name="Rental Views">
      </category>
      <view
            category="com.artal.rental.ui.views"
            class="com.artal.rental.ui.views.RentalPropertyView"
            id="com.artal.rental.ui.views.RentalPropertyView"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            category="com.artal.rental.ui.views"
            class="com.artal.rental.ui.views.RentalAgencyView"
            id="com.artal.rental.ui.views.RentalAgencyView"
            name="Rental Agency View"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.artal.rental.ui.RentalPerspective"
            id="com.artal.rental.ui.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.artal.rental.ui.pref.rentalpref"
            class="com.artal.rental.ui.pref.RentalColorPreferences"
            id="com.artal.rental.ui.pref.colorprefpage"
            name="Colors">
      </page>
      <page
            class="com.artal.rental.ui.pref.RentalPreferences"
            id="com.artal.rental.ui.pref.rentalpref"
            name="Rental">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.artal.rental.ui.pref.ColorPrefInit">
      </initializer>
   </extension>

</plugin>
